<section class="skills">

  <h1>My Skills</h1>
  <p>Technologies and tools I use as a QA Engineer and JR Web Developer.</p>

  

    <div class="skill-card">
      <h2>🧪 Manual Testing</h2>

      <span>Test Case Design</span>
      <span>Regression Testing</span>
      <span>Smoke Testing</span>
      <span>Exploratory Testing</span>
      <span>Bug Reporting</span>
      <span>Database Testing</span>
      <span>Cross-Browser Testing</span>
      <span>Mobile Testing</span>
      <span>Integration Testing</span>
    </div>

    <div class="skill-card">
      <h2>🤖 Test Automation</h2>

      <span>Playwright</span>
      <span>Cypress</span>
     
    </div>

    <div class="skill-card">
      <h2>🌐 API Testing</h2>

      <span>Postman</span>
      <span>REST APIs</span>
      <span>Swagger</span>
      <span>API Validation</span>
    </div>

    <div class="skill-card">
      <h2>🔒 Security Testing</h2>

      <span>OWASP ZAP</span>
      <span>Vulnerability Scanning</span>
      <span>Basic Security Assessment</span>
      <span>Penetration Testing</span>
    </div>

    <div class="skill-card">
      <h2>⚡ Performance Testing</h2>

      <span>k6</span>
      <span>Load Testing</span>
      <span>Stress Testing</span>
      <span>Performance Monitoring</span>
    </div>

    <div class="skill-card">
      <h2>💻 Frontend Development</h2>

      <span>Angular</span>
      <span>TypeScript</span>
      <span>HTML5</span>
      <span>SCSS</span>
    </div>

    <div class="skill-card">
      <h2>🛠 CI/CD & Version Control</h2>
      <span>Git</span>
      <span>GitHub</span>
      <span>Gitlab</span>     
    </div>

<div class="skill-card">
  <h2> 🌐 Languages</h2>
   <span>Typescript </span>
    <span>JavaScript </span>
     <span>Python </span>
     <span>SQL </span>
    </div>

</section>